
.hd{
    position:absolute;
     z-index:1;
    top:-10px;
    left:-60px;
    width:200px;
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 35px;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;

opacity: 0.8;
} 
.hd1{
    position:absolute;
     z-index:1;
    top:-10px;
    right:370px;
    width:200px;
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 25px;
text-align: center;
text-transform: capitalize;

/* color: #FFFFFF; */

opacity: 0.8;
} 
.hd2 {
    position:absolute;
    z-index:1;
   top:-10px;
   right:800px;
   width:200px;
   font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 25px;
text-align: center;
text-transform: capitalize;

/* color: #FFFFFF; */

opacity: 0.8;


}

/* .square{ */

/* margin: 25px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    overflow: hidden;  */

.im1 {
    position: relative;
    left: 0px;
    top:50px;
    width: 500px;
    height:500px;
    z-index: 1;


}
/* .im1:hover{
    width:50%;
    transition: 0.5s ease-in-out;
} */

.im2 {

    width: 600px;
    position: relative;
    right: 120px;

}

.im3 {
    position: relative;
    right: 240px;
    top:50px;
    width: 500px;
    height:500px;
    z-index: 1;
}

.slidem1 {
    position: absolute;
    z-index: 1;
    bottom: 270px;
    right: 1080px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-transform: capitalize;

    color: #FFFFFF;

    opacity: 0.8;
}

.slidem2 {
    position: absolute;
    bottom: 240px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;

    text-align: center;

    color: #FFFFFF;

    opacity: 0.8;
}

.slidem3 {
    position: absolute;
    z-index: 1;
    bottom: 270px;
    right: -680px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-transform: capitalize;
    opacity: 0.8;
    color: #FFFFFF;

}
.pragph{
    
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
text-align: center;

color: #FFFFFF;

opacity: 0.8;
}
.bgimg{
    background-image:url("../../public/Images/reactbclr.png");
    background-size: contain;
    width:100%;
    position:absolute;
    top:210px;
    z-index:-1;
} 

@media screen and (min-width: 1920px) {
    .mdqr1 {
      position:reative;
      left:240px;
    }
  }