@media screen and (min-width: 1920px) {
    .nv {
    width:100%;
    display:flex;
    justify-content:center;

    }
  }

.logo{
    /* 4 1 */
    

}
.nv{
    display:flex;
    flex-wrap: wrap;
}
.flage{
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color: blue;
}